body {
    margin: 0;
}
.banner {
    background: rgb(228, 221, 221);
    height: 30px;
}
iframe {
    display: block;
    background: #000;
    border: none;
    height: calc(100vh - 30px);
    width: 100%;
}